{% extends 'panelcontrol/base.html' %}
{% load static_tags %}

{% block nav %}
<li role="presentation">
	<a href="{% url 'bases:views_config_empresa' %}" style="border:0px;"><span class="fa fa-angle-double-left"></span> Volver</a>
</li>
{% endblock %}

{% block dato_empresa %}
{% if is_edit %}
Editar moneda
{% else %}
Agregar nueva moneda
{% endif %}
{% endblock %}

{% block acciones_remuneraciones %}
<div class="x_panel">
    <div class="x_content" >
		<br />
		<form id="frm-add-moneda" class="form-horizontal form-label-left input_mask" method="POST" action=".">
			{% csrf_token %}
			<div class="form-group">
				<div class="col-md-1 col-sm-1 col-xs-12">
					<label >{{frmMoneda.mon_id.label}}</label>
					{{frmMoneda.mon_id}}
				</div>
				<div class="col-md-1 col-sm-1 col-xs-12">
					<label >{{frmMoneda.mon_simbolo.label}}</label>
					{{frmMoneda.mon_simbolo}}
				</div>
                 <div class="col-md-7 col-sm-7 col-xs-12">
					<label >{{frmMoneda.mon_descripcion.label}}</label>
					{{frmMoneda.mon_descripcion}}
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<label >{{frmMoneda.mon_cantidaddecimales.label}}</label>
					{{frmMoneda.mon_cantidaddecimales}}
				</div>

			</div>
			<div class="ln_solid"></div>
			<div class="form-group">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<button type="submit" class="btn btn-primary"><span class="fa fa-save"></span> Guardar</button>
				</div>
			</div>
		</form>
    </div>
</div>
{% endblock %}

{% block css_js_down %}
<script type="text/javascript">

	{% if flag == '1' %}
	$.alert({
		title: 'Éxito!',
		content: 'Moneda grabada con éxito',
	});
	{% elif flag == '0' %}
	{% if is_save %}
	$.alert({
		title: 'Éxito!',
		content: 'Moneda grabada con éxito',
	});
	{% endif %}
	{% endif %}

	{% if error %}

	var error_mensaje_1 = "";
	{% for err in lista_err %}
	error_mensaje_1 += "- {{err}}<br>";
	{% endfor %}

	$.alert({
		title: 'Error!',
		content: error_mensaje_1,
	});
	{% endif %}
</script>
{% endblock %}