{% extends 'recursos_humanos/base.html' %}
{% load static_tags %}

{% block nav %}
{% endblock %}

{% block acciones_remuneraciones %}
<div class="x_panel" style="padding-top: 0px; padding-bottom: 0px; margin-bottom: 0px; margin-top: 0px;">
    <div class="x_content" style="padding-top: 0px; padding-bottom: 0px;  margin-bottom: 0px; margin-top: 0px;">
    	<ul class="nav nav-pills" role="tablist">
			<li role="presentation">
				<a href="" style="border:0px;">
					<span class="fa fa-plus-circle"></span>
				</a>
			</li>

		</ul>
	</div>
</div>
<style type="text/css">
	.table > thead > tr > th{
		background: #2A3F54;
		color:#FFFFFF;
		border:1px solid #FFFFFF;
	}

	.table > tbody > tr:hover{
		background: #E0E0F8;
		border:1px solid #FFFFFF;
		cursor: pointer;
	}
</style>
<div class="x_panel">
    <div class="x_content" >

    </div>
</div>

{% endblock %}

{% block css_js_down %}
<script type="text/javascript">

</script>
{% endblock %}
