{% extends 'panelcontrol/base.html' %}
{% load static_tags %}

{% block nav %}
{% endblock %}

{% block dato_empresa %}
documentos
{% endblock %}

{% block acciones_remuneraciones %}
<style type="text/css">
	.table > thead > tr > th{
		background: #2A3F54;
		color:#FFFFFF;
		border:1px solid #FFFFFF;
	}

	.table > tbody > tr:hover{
		background: #E0E0F8;
		border:1px solid #FFFFFF;
		cursor: pointer;
	}
</style>

<div class="x_panel">
    <div class="x_content" >
		<table class="table table-striped table-bordered dt-responsive nowrap x_table" cellspacing="0" cellpadding="0" width="100%">
			<thead>
			    <tr>
					<th>#</th>
					<th>NOMBRE</th>
					<th>CANTIDAD DOCUMENTOS</th>
					<th>ACCIONES</th>
			    </tr>
			</thead>

			<tbody>
		  		{% for d in lst_docEmpresa %}
		    	<tr>
					<td>{{d.contador}}</td>
					<td>{{d.doc_nombre|upper}}</td>
					<td>{{d.cantidad_doc}}</td>
					<td>
						<div class="btn-group  btn-group-sm">
							<a href="{% url 'bases:cantidad_documentos' d.doc_id d.tipoDoc %}" class="btn btn-primary"><span class="fa fa-eye"></span> Ver</a>
						</div>
					</td>
		    	</tr>
		    	{% endfor %}
			</tbody>
		</table>
    </div>
</div>

{% endblock %}

{% block css_js_down %}
<script type="text/javascript">


</script>
{% endblock %}
