{% extends 'panelcontrol/base.html' %}
{% load static_tags %}

{% block dato_empresa %}
listado de parámetros
{% endblock %}

{% block nav %}
<li role="presentation">
	<a href="{% url 'bases:addParametros' %}" style="border:0px;">
		<span class="fa fa-plus-circle"></span> Agregar parámetro
	</a>
</li>
<!--<li role="presentation">-->
	<!--<a href="#" style="border:0px;">-->
		<!--<span class="fa fa-plus-circle"></span> Agregar parámetros por carga masiva-->
	<!--</a>-->
<!--</li>-->
{% endblock %}

{% block acciones_remuneraciones %}
<div class="x_panel">
    <div class="x_content" >
		<style type="text/css">
			.table > thead > tr > th{
				background: #2A3F54;
				color:#FFFFFF;
				border:1px solid #FFFFFF;
			}

			.table > tbody > tr:hover{
				background: #E0E0F8;
				border:1px solid #FFFFFF;
				cursor: pointer;
			}
		</style>


		<table class="table table-striped table-bordered dt-responsive nowrap x_table" cellspacing="0" cellpadding="0" width="100%">
			<thead>
			    <tr>
					<th>#</th>
					<th>CÓDIGO</th>
					<th>DESCRIPCIÓN</th>
					<th>VALOR</th>
					<th>FACTOR</th>
					<th>ESTADO</th>
					<th>ACCIONES</th>
			    </tr>
			</thead>

			<tbody>
		  		{% for p in lst_parametros %}
		    	<tr>
					<td>{{p.contador}}</td>
					<td>{{p.param_codigo|upper}}</td>
					<td>{{p.param_descripcion|upper}}</td>
					<td>{{p.param_valor|upper}}</td>
					<td>{{p.param_factor}}</td>
					<td>{{p.is_activo|upper}}</td>
					<td>
						<div class="btn-group btn-group-sm">
							<a href="{% url 'bases:editarParametros' p.param_id %}" class="btn btn-primary"><span class="fa fa-pencil-square-o"></span> Editar</a>
							{% if p.is_activo == 'SI' %}
							<a href="{% url 'bases:borrarParametros' p.param_id p.param_activo %}" class="btn btn-danger" onclick=""><span class="fa fa-unlock-alt"></span> Desactivar</a>
							{% else %}
							<a href="{% url 'bases:borrarParametros' p.param_id p.param_activo %}" class="btn btn-success" onclick=""><span class="fa fa-lock"></span> Activar</a>
							{% endif %}
						</div>
					</td>
		    	</tr>
		    	{% endfor %}
			</tbody>
		</table>

    </div>
</div>
{% endblock %}

{% block css_js_down %}
<script type="text/javascript">
    //Initialize Select2 Elements
    $('.select2').select2()
</script>
{% endblock %}