'el promedio se determina considerando los ingresos obtenidos en el lapso de 12 meses comprendido entre julio y junio anteriores'+
'<br/><br/>'+
'<div class="form-group row">'+
'    <input type="number" name="asig1" id="asig1" class="form-control"> <br/>'+
'    <input type="number" name="asig2" id="asig2" class="form-control"> <br/>'+
'    <input type="number" name="asig3" id="asig3" class="form-control"> <br/>'+
'    <input type="number" name="asig4" id="asig4" class="form-control"> <br/>'+
'    <input type="number" name="asig5" id="asig5" class="form-control"> <br/>'+
'    <input type="number" name="asig6" id="asig6" class="form-control"> <br/>'+
'    <input type="number" name="asig7" id="asig7" class="form-control"> <br/>'+
'    <input type="number" name="asig8" id="asig8" class="form-control"> <br/>'+
'    <input type="number" name="asig9" id="asig9" class="form-control"> <br/>'+
'    <input type="number" name="asig10" id="asig10" class="form-control"> <br/>'+
'    <input type="number" name="asig11" id="asig11" class="form-control"> <br/>'+
'    <input type="number" name="asig12" id="asig12" class="form-control"> <br/>'+
'</div>',



<div class='input-group date' id='ue_fecharetiro'>
    <span class="input-group-addon">
       Julio
    </span>
    <input type="number" name="asig1" id="asig1" class="form-control">
</div>