
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        {% include "docpdf/style.html" %}
	</head>
    <body>

        <table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td height="97">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                        	<td width="50%" valign="top"><img class="img-responsive" width="100" height="100" src="{{logo}}"></td>
                        	<td width="50%" align="right" valign="top">
                        		<span style="font-size:22px">{{lst_documento.doc_nombre}} N° {{lst_documento.docenc_numerodoc}}</span><br/>
                        		Fecha de emisión: {{lst_documento.docenc_fechaemision}}<br/>
                        		Fecha de Vencimiento: {{lst_documento.docenc_fechavencimiento}}<br/>
                        	</td>
                        </tr>
                    </table>
                </td>
			</tr>
            <tr>
            	<td align="left">{{lst_documento.emp_razonsocial|title}}</td>
            </tr>
            <tr>
            	<td align="left">{{lst_documento.emp_direccion|title}}</td>
            </tr>
            <tr>
            	<td align="left">{{lst_documento.emp_comuna|title}}</td>
            </tr>
            <tr>
            	<td align="left">{{lst_documento.emp_fonouno}}</td>
            </tr>
            <tr>
            	<td align="left">{{lst_documento.emp_mailuno}}</td>
            </tr>
            <tr>
            	<td align="left"><hr /></td>
            </tr>
        </table>
		<br />
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="31" colspan="2" align="left" valign="top" bgcolor="#2A3F54" style="font-size: 21px; color: #FFF; padding:3px;">
                    {{lst_documento.cp_tipoentidad|upper}}
                </td>
            </tr>
              <tr>
                <td width="13%" align="left">Rut</td>
                <td width="87%" align="left">: {{lst_documento.cp_rut}}</td>
            </tr>
              <tr>
                <td align="left">Razón social</td>
                <td align="left"> : {{lst_documento.cp_razonsocial|title}}</td>
            </tr>
              <tr>
                <td align="left">Dirección</td>
                <td align="left">: {{lst_documento.cp_direccion|title}}</td>
            </tr>
              <tr>
                <td align="left">Comuna</td>
                <td align="left">: {{lst_documento.cp_comuna|title}}</td>
            </tr>
              <tr>
                <td align="left">Teléfono</td>
                <td align="left">: {{lst_documento.cp_fono}}</td>
            </tr>
          </table>
          <hr />
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th width="2%">#</th>
                    <th width="30%">Descripción</th>
                    <th width="9%" align="center">Precio</th>
                    <th width="10%" align="center">Cantidad</th>
                    <th width="10%" align="center">Monto neto</th>
                    <th width="9%" align="center">Descuento</th>
                    <th width="9%" align="center">Iva</th>
                    <th width="9%" align="center">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for dd in lst_documento.doc_det %}
                <tr>
                  <td>{{dd.contador}}</td>
                  <td>{{dd.docdet_producto}}</td>
                  <td>{{dd.docdet_preciounitario}}</td>
                  <td>{{dd.docdet_cantidad}}</td>
                  <td>{{dd.monto_neto}}</td>
                  <td>${{dd.docdet_descuento}}</td>
                  <td>${{dd.docdet_montoiva}}</td>
                  <td align="right">${{dd.docdet_preciototal}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-condensed">
            <tr>
              <td align="right" style="border:1px solid #FFF;">Total IVA</td>
              <td width="9%" align="right" style="border:1px solid #FFF;">${{lst_documento.total_iva}}</td>
          </tr>
            <tr>
              <td align="right" style="border:1px solid #FFF;">Total Descuento Documento</td>
              <td align="right" style="border:1px solid #FFF;">${{lst_documento.total_descuento_doc|safe}}</td>
            </tr>
            <tr>
              <td align="right" style="border: 1px solid #FFF; font-weight: bold;">Total Documento</td>
              <td align="right" style="border: 1px solid #FFF; font-weight: bold;">${{lst_documento.total_documento}}</td>
            </tr>
          </table>
          <br/><br/>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-color:1px solid #CCC">
            <tr>
              <td width="63%" height="35" align="left" bgcolor="#2A3F54" style="border: 1px solid #2A3F54; color: #FFF;padding-left:3px;">Detalle</td>
              </tr>
            <tr>
              <td height="104" align="left" valign="top" style="border: 1px solid #CCC; text-align: left; padding:4px;">
                {{lst_documento.docenc_descripcionadicional}}
              </td>
              </tr>
          </table>
        <br>
        <div class="text-center">
            Si tiene alguna duda nos puede llamar al <strong>{{lst_documento.emp_fonouno}}</strong> o en viarnos un mail al <strong>{{lst_documento.emp_mailuno}}</strong>. <br/>
                Gracias por preferirnos.
        </div>

<!--          <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-color:1px solid #CCC">-->
<!--            <tr>-->
<!--              <td height="104" align="center" valign="bottom" style="text-align: center; padding:10px;">-->
<!--                Si tiene alguna duda nos puede llamar al <strong>{{lst_documento.emp_fonouno}}</strong> o en viarnos un mail al <strong>{{lst_documento.emp_mailuno}}</strong>. <br/>-->
<!--                Gracias por preferirnos.-->
<!--              </td>-->
<!--            </tr>-->
<!--          </table>-->
       </body>
       </html>

